<div class="wrapper">
    <div class="box">
        <img style="height: 120px;width: 160px;" ng-src="data:image/png;base64,{{product.image}}">
    </div>
    <div>
        <p>Name: {{product.name}}</p>
        <p>Net Price: {{product.netPrice}}</p>
        <p>Price: {{product.price}}</p>
        <p>Discount: {{product.discount}}</p>
        <p>Description: {{product.description}}</p>
    </div>
</div>