<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Product <i style="cursor:pointer" class="fa fa-plus-circle" data-toggle="modal" data-target="#createProduct"></i></h1>


    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Products
                <input type="text" class="form-control search-text"
                       id="search" placeholder="Search Product" ng-model="search" required/>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Net Price</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="even gradeC" ng-repeat="product in products | filter:search">
                            <td>{{product.name}}</td>
                            <td>{{product.netPrice}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.discount}}</td>
                            <td>{{product.description}}</td>
                            <td>
                                <i class="fa fa-pencil cursor-pointer" ng-click="setProduct(product,true)"></i>
                                <i class="fa fa-archive cursor-pointer" ng-click="setProduct(product,false)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


<div id="createProduct" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" ng-show="createProduct">Create Product</h4>
                <h4 class="modal-title" ng-show="!createProduct">Update Product</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"
                                for="name">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                   id="name" placeholder="Name" ng-model="product.name" required/>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="name">Image</label>
                        <div class="col-sm-10">
                            <input type="file" file-model="myFile"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label"
                                for="netPrice">Net Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control"
                                   id="netPrice" placeholder="Net Price" ng-model="product.netPrice" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label"
                                for="price">Price</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control"
                                   id="price" placeholder="Price" ng-model="product.price" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label"
                                for="discount">Discount</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control"
                                   id="discount" placeholder="Discount" ng-model="product.discount" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="description">Description</label>
                        <div class="col-sm-10">
                            <textarea type="text" class="form-control"
                                      id="description" placeholder="Description" ng-model="product.description"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-show="createProduct" ng-click="saveProduct()">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="!createProduct" ng-click="updateProduct()">Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="deleteProductModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Product</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this product {{product.name}} ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"  ng-click="deleteProduct()">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>

    </div>
</div>